# Parsing the Data Files

This notebook is used to develop code to parse the Excel datafiles that are extracted as usage reports from zoom.

## Setup

In [1]:
from pathlib import Path
import pandas as pd

In [2]:
test_file = Path('../../snowmass-cpm-data/participants_99469847300.csv')

## Extract meeting header information

In [3]:
header_info = pd.read_csv(test_file, nrows=1, parse_dates=['Start Time', 'End Time'])

In [4]:
header_info

,Meeting ID,Topic,Start Time,End Time,User Email,Duration (Minutes),Participants,Unnamed: 7
0,99469847300,CPM Breakout - Zoom #6,2020-10-06 08:41:49,2020-10-06 14:18:45,gwatts@uw.edu,337,282,NaN

In [5]:
header_info['Meeting ID'][0]

99469847300

In [6]:
header_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Meeting ID          1 non-null      int64
 1   Topic               1 non-null      object
 2   Start Time          1 non-null      datetime64[ns]
 3   End Time            1 non-null      datetime64[ns]
 4   User Email          1 non-null      object
 5   Duration (Minutes)  1 non-null      int64
 6   Participants        1 non-null      int64
 7   Unnamed: 7          0 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 192.0+ bytes

## Extract meeting comings and goings

In [7]:
meeting_info = pd.read_csv(test_file, skiprows=2, parse_dates=['Join Time', 'Leave Time'])

In [8]:
meeting_info

,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Recording Consent
0,Zhao Li,zhaoli@ihep.ac.cn,2020-10-06 08:57:17,2020-10-06 13:07:42,251,Y
1,emanuele mereghetti,NaN,2020-10-06 08:57:21,2020-10-06 11:17:30,141,NaN
2,Joshua William Foster,fosterjw@umich.edu,2020-10-06 08:58:10,2020-10-06 09:52:45,55,Y
3,Christian Bauer,CWBauer@lbl.gov,2020-10-06 08:58:16,2020-10-06 09:04:46,7,NaN
4,Andreas Karch,NaN,2020-10-06 08:58:34,2020-10-06 09:30:18,32,NaN
...,...,...,...,...,...,...
316,Tania Robens,NaN,2020-10-06 12:01:49,2020-10-06 13:07:36,66,Y
317,Giovanni Maria Piacentino,giovanni.piacentino@unimol.it,2020-10-06 12:40:19,2020-10-06 14:18:45,99,Y
318,William J. Torres Bobadilla,unipd_4VeSSfIa9IuMbu8IXu0Tp7ger68=,2020-10-06 12:42:30,2020-10-06 13:07:47,26,Y
319,webber,NaN,2020-10-06 13:16:57,2020-10-06 13:17:30,1,NaN
320,Alessandra Buonanno,alessandra.buonanno@aei.mpg.de,2020-10-06 13:27:08,2020-10-06 14:18:32,52,NaN

In [9]:
d = meeting_info[['Name (Original Name)', "Join Time", "Leave Time"]]

In [10]:
type(d)

pandas.core.frame.DataFrame

In [11]:
meeting_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name (Original Name)  321 non-null    object
 1   User Email            218 non-null    object
 2   Join Time             321 non-null    datetime64[ns]
 3   Leave Time            321 non-null    datetime64[ns]
 4   Duration (Minutes)    321 non-null    int64
 5   Recording Consent     161 non-null    object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 15.2+ KB